<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />

    <meta name="naver-site-verification" content="naver-id" />
    <meta name="google-site-verification" content="google-id" />

    <meta name="title" content="Sole-X" />
    <meta name="description" content="Sole-X는 완전한 탈중앙화 크로스체인 기반 NFT 마켓플레이스입니다." />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="keywords"
      content="TriumphX, 트라이엄프엑스, Sole-X, Solex, 솔엑스, NFT, 대체불가능토큰, 오르빗체인, Orbit, Ozys, 오지스, Blockchain, 블록체인"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sole-X" />
    <meta property="og:site_name" content="Sole-X" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.publicPath %>" />
    <meta property="og:description" content="Sole-X는 완전한 탈중앙화 크로스체인 기반 NFT 마켓플레이스입니다." />
    <meta
      property="og:keywords"
      content="TriumphX, 트라이엄프엑스, Sole-X, Solex, 솔엑스, NFT, 대체불가능토큰, 오르빗체인, Orbit, Ozys, 오지스, Blockchain, 블록체인"
    />
    <!-- <meta property="og:image" content="<%= htmlWebpackPlugin.options.options.publicPath %>img/thumbnail.svg" /> -->

    <meta name="twitter:type" content="website" />
    <meta name="twitter:title" content="Sole-X" />
    <meta name="twitter:site_name" content="KLAYswap" />
    <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.publicPath %>" />
    <meta name="twitter:description" content="NFT Marketplace" />
    <meta name="twitter:keywords" content="Sole-X, NFT, 이더리움, 클레이튼, 멀티체인, 오지스, Ozys, Triumph" />
    <!-- <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.options.publicPath %>img/thumbnail.svg" /> -->

    <title>Sole-X: Buy, Sell, and Discover Unique Items</title>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.options.publicPath %>" />
    <link rel="shortcut icon" type="image/png" href="<%= htmlWebpackPlugin.options.options.publicPath %>favicon.ico" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <script src="<%= htmlWebpackPlugin.options.options.publicPath %>js/jquery-3.3.1.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XSHYVLNWZT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-XSHYVLNWZT');
    </script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
