@font-face {
  font-family: 'MuseoSans';
  font-weight: 100;
  src: url($public_path + '/fonts/museosans/MuseoSans_100.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 300;
  src: url($public_path + '/fonts/museosans/MuseoSans_300.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans';
  src: url($public_path + '/fonts/museosans/MuseoSans_500.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 700;
  src: url($public_path + '/fonts/museosans/MuseoSans_700.otf') format('opentype');
}

// TODO : 폰트 파일명 통일
@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 300;
  src: url($public_path + '/fonts/spoqahansans/Spoqa Han Sans Neo Thin.otf') format('opentype'),
    url($public_path + '/fonts/spoqahansans/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url($public_path + '/fonts/spoqahansans/Spoqa Han Sans Neo Light.otf') format('opentype'),
    url($public_path + '/fonts/spoqahansans/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 500;
  src: url($public_path + '/fonts/spoqahansans/Spoqa Han Sans Neo Medium.otf') format('opentype'),
    url($public_path + '/fonts/spoqahansans/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 700;
  src: url($public_path + '/fonts/spoqahansans/Spoqa Han Sans Neo Bold.otf') format('opentype'),
    url($public_path + '/fonts/spoqahansans/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

// roboto체

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url($public_path + '/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url($public_path + '/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 500;
  src: url($public_path + '/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 700;
  src: url($public_path + '/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

// 정선동강체

@font-face {
  font-family: 'JSDongkang';
  src: url($public_path + '/fonts/jsdongkang/JSDongkang-Regular.otf') format('opentype'),
    url($public_path + '/fonts/jsdongkang/JSDongkang-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JSDongkang';
  font-weight: 700;
  src: url($public_path + '/fonts/jsdongkang/JSDongkang-Bold.otf') format('opentype'),
    url($public_path + '/fonts/jsdongkang/JSDongkang-Bold.ttf') format('truetype');
}
