// 플랫폼, 메뉴 등에 상관없이 보편적으로 쓰일 믹스인이나 변수들을 모아놓은 파일

@mixin center-align-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin vertical-align-flex {
  display: flex;
  align-items: center;
}

@mixin vertical-flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin horizon-flex-end {
  display: flex;
  align-content: flex-end;
}

@mixin horizon-align-flex {
  display: flex;
  justify-content: center;
}

@mixin horizon-flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin full-circle($v) {
  width: $v;
  height: $v;
  border-radius: 50%;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin full-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

@mixin full-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@mixin align-center($v) {
  height: $v + px;
  line-height: $v + px;
  text-align: center;
}

@mixin calc-width-lr($v) {
  width: calc(100% - #{$v * 2}px);
  margin: 0 $v + px;
}

@mixin basic-modal() {
  width: 480px;
  background: #fff;
  margin: auto;
}

@mixin square($n) {
  width: $n;
  height: $n;
}

@mixin get-size-without-unit($v) {
  width: calc(100% - #{$v});
  line-height: 1.25;
  word-break: break-all;
}

@mixin gen-inline-left() {
  float: left;
  display: inline-block;
}

@mixin flex-row-center {
  text-align: center;
  justify-content: center;
}

@mixin flex-row-right {
  text-align: right;
  justify-content: flex-end;
}

@mixin round-el($h) {
  height: #{$h}px;
  border-radius: #{$h / 2}px;
}

@mixin placeholder() {
  font: {
    size: 12px;
    weight: 300;
  }
  color: #999;
}

$max_width: 1080px;
$max_form_width: 400px;

// $body_bg_color: #fafbfc;
$gen_box_shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

$gen_gray: #999999;
$melange_gray: #dee3eb;
$gen_lightgray: #c5c5c5;
$melange_white: #f0f3f5;

$gen_black: #333;
$gen_lightblack: #666;
$gen_dark_navy: #142e47;

$gen_border: 1px solid rgba(34, 34, 34, 0.1);

$gen_modal_bg: rgba(0, 0, 0, 0.3);
$gen_text_shadow: 0 0 1px rgba(0, 0, 0, 0.5);

$gen_transition: all 0.2s ease-out;

$primary_color: #00b2e3;
$secondary_color: #73cde6;
$tertiary_color: #66a1ff;

$primary_hover: #73cde6;
$primary_active: #0097e3;
$secondary_active: #e66d16;

$gen_progress: #f39755;
$gen_success: #47cc7f;
$gen_fail: #ee4136;
