@import './head';

.landing-page {
  height: 100vh;
  position: relative;

  .landing-page__header {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    position: absolute;
    @include vertical-align-flex;
    padding: 0 40px;

    h1 {
      font-size: 40px;
    }

    button {
      font-size: 16px;
      margin-left: auto;
      padding: 10px 16px;

      @media screen and (max-width:760px){
        display: none;
      }
    }
  }

  .landing-page__body {
    @include square(100%);
    display: flex;
    height: auto !important;

    @media screen and (max-width:760px){
      max-width: 400px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  }

  .landing-page__section {
    width: 50%;

    @media screen and (max-width:760px){
      width: 100% !important;
    }
  }

  .landing-page__section__graphic {
    @include center-align-flex;

    img {
      width: 88%;
    }
    @media screen and (max-width:760px){
      display: none;
    }
  }

  .landing-page__section__description {
    // width: calc(100% - 640px);

    > article {
      height: 100%;
      padding-left: 2%;
      @include vertical-align-flex;

      @media screen and (max-width:760px){
        padding-left: 0px;
        padding: 5%;
        margin-top: -10px;
      }

      img {
        width: 148px;
        margin-bottom: 95px;

        @media screen and (max-width:760px){
          margin-bottom: 65px;
          width: 130px;
        }
      }

      h1 {
        max-width: 540px;
        font-size: 40px;
        margin-bottom: 30px;
        width: 100%;

        @media screen and (min-width: 761px) and (max-width: 1200px){
          font-size: 32px;
          max-width: 380px;
          margin-top: -50px;
        }
        @media screen and (max-width:760px){
          font-size: 28px;
          letter-spacing: -0.05em;
          width:100%;
          max-width: 400px;
          margin-bottom: 22px;
        }
        
      }

      p {
        max-width: 600px;
        line-height: 24px;
        font: {
          size: 16px;
          weight: 300;
        }
        color: $gen_lightblack;
        margin-bottom: 40px;

        @media screen and (min-width: 761px) and (max-width: 1200px){
          font-size: 14px;
          padding-right: 40px;
        }
        @media screen and (max-width:760px){
          width: 100%;
          font-size: 14px;
          max-width: 470px;

          br{display: none;}
        }
      }

      button {
        font-size: 16px;
        padding: 10px 23px;

        @media screen and (max-width:760px){
          padding: 0px;
          width: 100%;
          max-width: 300px;
          height: 50px;
          margin: 0 auto 10px;
        }
      }
    }
  }
}
