@import "./head";

.market-home-page {
  height: 100%;
  margin: 0 auto;
  padding-bottom: 50px;

  .market-home__featured {
    width: 100%;
    height: 320px;
    margin-bottom: 60px;

    .swiper-container {
      @include square(100%);

      .swiper-pagination-bullet {
        @include full-circle(8px);
        background: rgba(255, 255, 255, 0.5);
      }

      .swiper-pagination-bullet-active {
        background: #fff;
      }
    }

    .market-home__featured__default {
      @include square(100%);
      padding-top: 70px;
      margin: 0 auto;
      max-width: 1440px; /*$max_width;*/
      background: {
        size: contain;
        position: right;
      }

      h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        width: 348px;
        height: 90px;
        font: {
          size: 16px;
          weight: 300;
        }
        color: #333333;
      }

      .common-submit-button {
        width: 160px;
        height: 45px;
        font-size: 16px;
      }

      &.bg-black {
        * {
          color: #fff;
        }
      }
    }
  }

  .market-home__content {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .marketplace__category {
    width: 100%;
    height: 100px;
    margin-bottom: 80px;
    @include horizon-align-flex;

    li {
      @include gen-inline-left;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .marketplace__category__tab {
      width: 200px;
      height: 80px;
      padding: 16px;
      font-size: 20px;
      border-radius: 8px;
      border: 1px solid #fafbfc;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
      cursor: pointer;
      background: #fff;
      position: relative;
      transition: all 0.2s ease-out;

      &:hover,
      &:active {
        h2 {
          color: #fff;
        }
      }

      .marketplace__category__icon {
        @include square(60px);
        bottom: 10px;
        right: 20px;
        position: absolute;
        background-position: center;
      }

      &--all {
        .marketplace__category__icon {
          background-image: url($public_path+"/img/icon/ic-main-category-all.svg");
        }

        &:hover,
        &:active {
          background-image: linear-gradient(
            344deg,
            $secondary_color 15%,
            #00b2e3
          );

          .marketplace__category__icon {
            background-image: url($public_path+"/img/icon/ic-main-category-all-wh.svg");
          }
        }
      }

      &--ethereum {
        .marketplace__category__icon {
          background-image: url($public_path+"/img/icon/ic-chain-ethereum.svg");
        }

        &:hover,
        &:active {
          background-image: linear-gradient(114deg, #454a75, #656ac6 100%);

          .marketplace__category__icon {
            background-image: url($public_path+"/img/icon/ic-chain-ethereum-wh.svg");
          }
        }
      }

      &--klaytn {
        .marketplace__category__icon {
          background-image: url($public_path+"/img/icon/ic-chain-klaytn.svg");
        }

        &:hover,
        &:active {
          background-image: linear-gradient(294deg, #a39481, #6f6558);

          .marketplace__category__icon {
            background-image: url($public_path+"/img/icon/ic-chain-klaytn-wh.svg");
          }
        }
      }

      &--art {
        .marketplace__category__icon {
          background-image: url($public_path+"/img/icon/ic-main-category-art.svg");
        }

        &:hover,
        &:active {
          background-image: linear-gradient(294deg, #eb9083 100%, #e78091 0%);

          .marketplace__category__icon {
            background-image: url($public_path+"/img/icon/ic-main-category-art-wh.svg");
          }
        }
      }

      &--game {
        .marketplace__category__icon {
          background-image: url($public_path+"/img/icon/ic-main-category-game.svg");
        }

        &:hover,
        &:active {
          background-image: linear-gradient(114deg, #231f20, #525366);

          .marketplace__category__icon {
            background-image: url($public_path+"/img/icon/ic-main-category-game-wh.svg");
          }
        }
      }
    }
  }

  .market-home__collection {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    .common-loader {
      height: 288px;
    }

    .market-home__collection__header {
      margin-bottom: 20px;
      @include vertical-align-flex;

      h2 {
        font-weight: bold;
        font-size: 20px;
      }

      button {
        color: $gen_gray;
        margin-left: auto;

        img {
          margin: -1px 0 0 10px;
          vertical-align: middle;
        }

        svg {
          margin: -1px 0 0 10px;
          vertical-align: middle;
        }

        &:hover {
          font-weight: bold;
          color: $primary_color;

          svg {
            g {
              stroke: $primary_color;
            }
          }
        }

        &:active {
          color: $primary_active;
        }
      }
    }

    .market-home__collection__list {
      width: 100%;
      position: relative;

      .swiper-slide {
        width: 220px !important;
      }

      .swiper-button-prev,
      .swiper-button-next {
        @include square(24px);
        top: 75px;
        margin-top: 0;
        border: 1px solid $melange_gray;
        background-color: #ffffff;

        &::after {
          font-size: 12px;
          color: #c1c5cc;
        }

        &.swiper-button-disabled {
          display: none;
        }
      }

      .swiper-button-prev {
        left: 4.3px;
      }

      .swiper-button-next {
        right: 4.3px;
      }
    }
  }

  .market-home__tips {
    width: 100%;
    height: 240px;
    margin-bottom: 82px;
    border: solid 1px #dee3eb;

    .swiper-container {
      @include square(100%);

      .swiper-slide {
        display: flex;
      }

      .swiper-pagination-bullets {
        top: 40px;
        right: 40px;
        left: initial;
        bottom: initial;
        text-align: right;
      }

      .swiper-pagination-bullet {
        width: 20px;
        height: 2px;
        background: #d8d8d8;
        opacity: 1;
        border-radius: 0;
      }

      .swiper-pagination-bullet-active {
        background: $primary_color;
      }
    }

    .market-home__tips__graphic {
      width: 464px;

      img {
        @include square(100%);
      }
    }

    .market-home__tips__article {
      width: calc(100% - 480px);
      padding: 40px;

      > h5 {
        font-weight: bold;
        font-size: 16px;
        color: $primary_color;
      }

      > article {
        height: calc(100% - 20px);
        @include vertical-flex-end;
      }

      .market-home__tips__article__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .market-home__tips__article__description {
        color: $gen_gray;
      }
    }
  }

  .market-home__banner {
    display: flex;
    width: 100%;

    .market-home__banner__item-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 200px;

      .market-home__banner__item {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 380px;
        border-radius: 3px;
        padding: 30px;
        cursor: pointer;

        .market-home__banner__item-content-description {
          margin: 20px 0;
        }

        &.idx-0 {
          background-color: #e8dccc;

          .market-home__banner__item-content-container {
            .market-home__banner__item-content-title {
              font-size: 20px;
              font-weight: bold;
              color: #333333;
            }

            .market-home__banner__item-content-description {
              font-size: 14px;
              div {
                color: #666666;
              }
            }

            .market-home__banner__item-content-link {
              font-size: 14px;
              color: #666666;
            }
          }

          img {
            // width: 120px;
            // position: absolute;
            // top: 32px;
            // right: 30px;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        &.idx-1 {
          background-color: #fcfcc2;

          .market-home__banner__item-content-container {
            .market-home__banner__item-content-title {
              font-size: 20px;
              font-weight: bold;
              color: #333333;
            }

            .market-home__banner__item-content-description {
              font-size: 14px;
              div {
                color: #666666;
              }
            }

            .market-home__banner__item-content-link {
              font-size: 14px;
              color: #666666;
            }
          }

          img {
            // width: 110px;
            // position: absolute;
            // top: 30.9px;
            // right: 32.6px;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        &.idx-2 {
          background-color: #57bdd9;

          .market-home__banner__item-content-container {
            .market-home__banner__item-content-title {
              font-size: 20px;
              font-weight: bold;
              color: #ffffff;
            }

            .market-home__banner__item-content-description {
              font-size: 14px;
              div {
                color: #ffffff;
              }
            }

            .market-home__banner__item-content-link {
              font-size: 14px;
              color: #ffffff;
            }
          }

          img {
            // width: 120px;
            // position: absolute;
            // top: 35px;
            // right: 30px;

            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.marketplace-sell {
  display: flex;

  .marketplace-filter-wrapper {
    position: sticky;
    top: 150px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
    align-self: flex-start;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }

  .marketplace-filter {
    width: 280px;

    .filter-by {
      margin-bottom: -40px;
    }

    .marketplace-filter-item {
      padding: 40px;
      transition: height 0.5s;

      .marketplace-filter-item-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        cursor: pointer;

        .marketplace-filter-title {
          font-size: 16px;
          font-family: MuseoSans;
          font-weight: bold;
          color: #333333;
        }

        img.marketplace-filter-item-top-chevron {
          width: 14px;
        }

        .marketplace-filter-reset {
          display: inline-flex;
          align-items: center;

          img {
            position: relative;
            top: 1px;
            width: 12px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }

      .marketplace-filter-popover {
        overflow: hidden;
        transition: height 0.2s;

        .marketplace-filter-popover-filterby {
          display: inline-flex;
          align-items: center;
          border: 1px solid $primary_color;
          border-radius: 2px;
          margin: 5px;
          padding: 2px 8px;

          div {
            font-weight: bold;
            color: #333333;
            font-family: MuseoSans;
          }

          img {
            cursor: pointer;
            margin-left: 12px;
          }
        }

        .marketplace-filter-popover-collection {
          padding: 10px 0;
          border: 1px solid #e8e8e8;
          margin-bottom: 10px;
          text-align: center;
          color: #666666;
          font-family: MuseoSans;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          &.selected {
            border: 1px solid $primary_color;
            color: #333333;
          }
        }

        .marketplace-filter-popover-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          .marketplace-filter-popover-item-title {
            display: inline-flex;
            align-items: center;
            div {
              display: inline-flex;
              align-items: center;
              float: left;
              cursor: pointer;
            }

            .red-dot {
              display: inline;
              width: 8px;
              height: 8px;
              background-color: transparent;
              border-radius: 8px;
              margin-right: 12px;
              transition: background-color 0.2s;

              &.selected {
                background-color: $primary_color;
              }
            }
          }

          .item-value {
            font-weight: 500;
            font-family: MuseoSans;
            color: #666666;

            &:hover {
              color: #333333;
              font-weight: bold;
            }

            &:active {
              color: #666666;
              font-weight: normal;
            }
          }
        }

        select {
          width: 100%;
          padding: 9px 16px;
          border: 1px solid #cccccc;
          margin-bottom: 15px;
          font-weight: 700;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url($public_path+"/img/icon/ic-select-arrow.svg")
            no-repeat 92% 50%;
        }

        .marketplace-filter-popover-price-input-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .marketplace-filter-popover-price-input-wrap {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 80px;
            height: 31px;
            border: 1px solid #cccccc;
            padding-right: 10px;
            .marketplace-filter-popover-price-input {
              width: 100%;
              padding: 0 10px;
            }

            .has-img {
              width: 80%;
            }

            img {
              cursor: pointer;
            }
          }

          .marketplace-filter-popover-price-span {
            color: #999999;
          }
        }
      }
    }
  }

  .marketplace-sell-items {
    width: calc(100vw - 280px);
    padding: 36px 84px;

    .marketplace-sell-items-header {
      padding: 0 12px;

      .marketplace-sell-items-header-top {
        color: #666666;
        margin-bottom: 2px;
      }

      .marketplace-sell-items-header-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 16px;

        .marketplace-sell-items-header-bottom-select {
          position: relative;
          width: 160px;
          height: 32px;
          border: solid 1px #e8e8e8;
          background: url($public_path+"/img/icon/ic-select-arrow.svg")
            no-repeat 90% 50%;

          .marketplace-sell-items-header-bottom-select-box {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 16px;
          }

          .marketplace-sell-items-header-bottom-select-options {
            position: absolute;
            width: 160px;
            border: solid 1px #e8e8e8;
            top: 34px;
            left: 0;
            background-color: white;
            z-index: 998;
            padding: 8px 0;
            ul {
              li {
                cursor: pointer;
                padding: 4px 16px;
                &:hover {
                  background-color: $background_hover;
                }
              }
            }
          }
        }

        select {
          border: solid 1px #e8e8e8;
          padding: 8px 16px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url($public_path+"/img/icon/ic-select-arrow.svg")
            no-repeat 85% 50%;
        }

        button {
          position: relative;
          width: 160px;
          height: 40px;
          background: $primary_color;
          border: 1px solid #0097e3;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          outline: none;
          transition: ease-in-out 1s, background-color 1s;

          &:hover {
            background-color: $primary_hover;
            transition: 1s ease-in-out;

            svg {
              stroke-dashoffset: -400;
            }
          }

          &:active {
            background-color: $primary_active;
          }

          svg {
            position: absolute;
            left: -1px;
            top: -1px;
            fill: none;
            stroke: $primary_hover;
            stroke-dasharray: 150 400;
            stroke-dashoffset: 150;
            transition: 1s ease-in-out;
          }

          span {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }

    .marketplace-sell-items-contents {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .common-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 150px);
      }

      &::after {
        content: "";
        width: 220px;
      }
    }
  }
}
